# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


#Whitelist
!*.md
!LICENSE
!media/*
!.gitignore
!.github/**

!**/*.zig


# Blacklist (overrides Whitelist)
build/*
**/zig-cache/*
