# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


#Whitelist
!README.md
!LICENSE
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!media/*
!.gitignore
!.github/**

!**/*.zig


# Blacklist (overrides Whitelist)
build/*
**/zig-cache/*
